/* css styles */
figcaption {
    text-align: center;
}

.btn > a {
    background-color: #FFCCFF;
    padding-left: 4px;
    padding-right: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #CC66FF;
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
    color: #CC66FF;
}

.btn > a:hover {
    background-color: #FFCCFF;
    padding-left: 4px;
    border-width: 2px;
}

p {
    line-height: 1.6em;
}