/* import fonts */
/*@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');
/*

/*-- scss:defaults --*/
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");*/


/* all formats */

.cvdate {
  float: right;
  font-style: italic
}

.print-only {
  display: none;
  /*color: aquamarine;*/
}

/* adapt stylesheet for print
from: https://github.com/quarto-dev/quarto-cli/discussions/2538#discussioncomment-4081842 */

/* for page-breaks use style spans
  page-break-before: always;
  page-break-after: always;
*/

@media print {
  @page {
      size: a4 portrait;
      counter-increment: page;
      @bottom-center {
        content: counter(page);
        font-family: 'Times New Roman'
      }
  }
  .no-print {
      display: none;
  }
  .print-only {
      display: block;
  }

  .contact-block {
      margin-top: 0%;
      text-align: center;
  }
  .contact-block-2 {
      margin-top: 2%;
      text-align: center;
      line-height: 15%
  }
  .contact-block-3 {
      margin-top: 4%;
      line-height: 15%
  }

  /* html {
    font-family: 'Public Sans', sans-serif;
  }*/

  header {
    margin-block-end: 5em;
  }
  header h1.title {
      display: none;
  }
  header .date {
      display: none;
  }
  header .author {
    font-size: 2em;
    font-weight: 900;
    color: black;
    text-align: center;
    margin-block-end: 0em;
    margin-bottom: 0;
    text-transform: capitalize;
  }  
  
  body {font-family: 'Times New Roman', 'Noto Serif CJK JP'}

  h2 {
    margin-top: 5%;
    font-weight: 900;
    text-transform: uppercase;
    /* color: blueviolet; */
  }

  h3 {
    font-weight: 700;
    text-transform: uppercase;
    /* color: green; */
  }

  p {
    font-size: small;
  }

  ul li{
    font-size: smaller;
  }

  a {
    text-decoration: none;
    font-weight: 700;
    color: #36a7e9;
  }
}